<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:context="http://www.springframework.org/schema/context"
xmlns:tx="http://www.springframework.org/schema/tx"
xmlns:aop="http://www.springframework.org/schema/aop"
xsi:schemaLocation="
    http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
    http://www.springframework.org/schema/aop
    http://www.springframework.org/schema/aop/spring-aop-3.1.xsd
    http://www.springframework.org/schema/cache
    http://www.springframework.org/schema/cache/spring-cache-3.1.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.1.xsd
    http://www.springframework.org/schema/mvc
    http://www.springframework.org/schema/mvc/spring-mvc-3.1.xsd
    http://www.springframework.org/schema/util
    http://www.springframework.org/schema/util/spring-util-3.1.xsd
    http://www.springframework.org/schema/tx
    http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">
    
    <!-- jdbc properties -->
    <bean id="jdbcConfigurer" class="org.springframework.beans.factory.config.PropertyPlaceholderConfigurer">
        <property name="locations">
            <list>
                <value>classpath:jdbc.properties</value>
            </list>
        </property>
    </bean>
    
    <!-- jdbc data source -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" destroy-method="close">
        <property name="driverClass" value="${jdbc.driver}"></property>
        <property name="jdbcUrl" value="${connection.string}"></property>
        <property name="user" value="${jdbc.user}"></property>
        <property name="password" value="${jdbc.password}"></property>
        <property name="maxPoolSize" value="20"/>
        <property name="minPoolSize" value="5"/>
        <property name="acquireIncrement" value="3"/>
        <property name="initialPoolSize" value="5"/>
    </bean>

    <!-- MyBatis template -->
    <bean id="sqlSessionFactory" class="org.mybatis.spring.SqlSessionFactoryBean">
        <property name="dataSource" ref="dataSource"></property>
        <property name="typeAliasesPackage" value="com.wtu.product.model"></property>
        <property name="mapperLocations" value="classpath*:com/wtu/product/model/postgre_sql/*Mapper.xml"></property>
    </bean>
    <bean id="sqlSessionTemplate" class="org.mybatis.spring.SqlSessionTemplate">
        <constructor-arg index="0" ref="sqlSessionFactory"></constructor-arg>
    </bean>
    <bean id="basedao" abstract="true">
        <property name="sqlSessionTemplate" ref="sqlSessionTemplate"></property>
    </bean>
    <bean id="userDao" class="com.wtu.product.dao.impl.UserDaoImpl" parent="basedao"/>
    <bean id="questionDao" class="com.wtu.product.dao.impl.QuestionDaoImpl" parent="basedao"/>
    <bean id="goodsDao" class="com.wtu.product.dao.impl.GoodsDaoImpl" parent="basedao"/>
    <bean id="systemDao" class="com.wtu.product.dao.impl.SystemDaoImpl" parent="basedao"/>
    
    <!-- Controller -->
    <bean id="userController" class="com.wtu.product.controller.UserController">
        <property name="userService" ref="userService"/>
    </bean>
    <bean id="homeController" class="com.wtu.product.controller.HomeController">
        <property name="goodsService" ref="goodsService"/>
    </bean>
    <bean id="systemSettingController" class="com.wtu.product.controller.SystemSettingController">
        <property name="systemService" ref="systemService"/>
    </bean>
    <bean id="goodsController" class="com.wtu.product.controller.GoodsController">
        <property name="goodsService" ref="goodsService"/>
    </bean>
    <bean id="questionController" class="com.wtu.product.controller.QuestionController">
        <property name="questionService" ref="questionService"></property>
    </bean>

    <!-- Service -->
    <bean id="questionService" class="com.wtu.product.service.impl.QuestionServiceImpl">
        <property name="questionDao" ref="questionDao"/>
    </bean>
    <bean id="userService" class="com.wtu.product.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="goodsService" class="com.wtu.product.service.impl.GoodsServiceImpl">
        <property name="goodsDao" ref="goodsDao"/>
    </bean>
    <bean id="systemService" class="com.wtu.product.service.impl.SystemServiceImpl">
        <property name="systemDao" ref="systemDao"/>
    </bean>
    
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
     <property name="maxUploadSize" value="104857600" />
     <property name="maxInMemorySize" value="4096" />
     <property name="defaultEncoding" value="UTF-8"></property>
    </bean>

    <!-- block -->
    <bean id="paginationBlock" class="com.wtu.product.block.PaginationBlock">
      <property name="template" value="/WEB-INF/jsp/pagination.jsp"></property>
    </bean>

    <!-- Log class -->
    <bean id="logMethodTime" class="com.wtu.product.service.impl.LogMethodTime"></bean>
    
    <!-- Transaction -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="dataSource"></property>
    </bean>
    <tx:advice id="txAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <tx:method name="updateUser" propagation="REQUIRED" read-only="false" rollback-for="java.lang.RuntimeException"/>
            <tx:method name="saveQuestion" propagation="REQUIRED" read-only="false" rollback-for="java.lang.RuntimeException"/>
            <tx:method name="updateQuestion" propagation="REQUIRED" read-only="false" rollback-for="java.lang.RuntimeException"/>
            <tx:method name="deleteQuestionById" propagation="REQUIRED" read-only="false" rollback-for="java.lang.RuntimeException"/>
            <tx:method name="*" propagation="SUPPORTS" read-only="true"/>
        </tx:attributes>
    </tx:advice>
    <aop:config>
        <aop:pointcut expression="execution(* com.wtu.product.service..*.*(..))" id="pc"/>
        <aop:advisor advice-ref="logMethodTime" pointcut-ref="pc" order="1"/>
        <aop:advisor advice-ref="txAdvice" pointcut-ref="pc" order="2"/>
    </aop:config>
    <bean class="com.wtu.product.util.SpringUtil"></bean>
</beans>